[tool.poetry]
name = "12factor-configclasses"
version = "0.2.5"
description = "Like dataclasses but for config."
authors = ["Pablo Cabezas <pabcabsal@gmail.com>"]
readme = "README.md"
license = "MIT"

packages = [
    { include = "configclasses" },
]

[tool.poetry.dependencies]
python = "^3.8"
tomlkit = {version = "^0.5.8", extras = ["toml"], optional = true}
python-dotenv = {version = "^0.10.3", extras = ["dotenv"], optional = true}
pyyaml = {version = "^5.1", extras = ["yaml"], optional = true}
starlette = "^0.12.12"

[tool.poetry.extras]
toml = ["tomlkit"]
dotenv = ["python-dotenv"]
yaml = ["pyyaml"]
full = ["tomlkit", "python-dotenv", "pyyaml"]

[tool.poetry.dev-dependencies]
pytest = "^5.2"
tomlkit = {version = "^0.5.8"}
python-dotenv = {version = "^0.10.3"}
pyyaml = {version = "^5.1"}
pytest-mypy = "^0.4.1"

[build-system]
requires = ["poetry>=0.12"]
build-backend = "poetry.masonry.api"
